{{ define "main" }}
    <div class="page">
        <div class="mb-2 pb-2 header">
            <h1 class="mb-0">{{ .Params.name }}</h1>
            <span class="text-primary">
                {{ .Params.role }}
            </span>
        </div>
        <div class="row">
            <div class="col-9 left-column">
                {{ with .Params.summary }}
                    <h2>Summary</h2>
                        <p>{{ . }}</p>
                {{ end }}
                <h2>Technical Experience</h2>
                <ul class="technical-experience experience">
                    {{ range .Params.Technicalexperience }}
                        <li class="mb-1 py-1 exp-li">
                            <h3>
                                <span class="fw-bold">{{ .title }}</span> 
                            </h3>
                            <div class="description">{{ .description | markdownify }}</div>
                        </li>
                    {{ end }}
                </ul>
                <h2>Work Experience</h2>
                <ul class="work-experience experience">
                    {{ range .Params.experience }}
                        <li class="mb-1 py-1 exp-li">
                            <h3>
                                <span class="fw-bold">{{ .title }}</span> 
                                <span class="company"> at {{ .company }}</span>
                            </h3>
                            <span class="date">{{ .date }}</span>
                            <div class="description">{{ .description | markdownify }}</div>
                        </li>
                    {{ end }}
                </ul>
            </div>
            <div class="col">
                <h2>Contact</h2>
                <ul class="contact-list double-spaced">
                    <li>
                        <a href="tel:{{ replaceRE `[^\d]` `` .Site.Params.primPhone }}" target="_blank">
                            <i class="pe-2 bi bi-telephone-fill"></i>{{ .Site.Params.primPhone }}
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{ .Site.Params.primEmail }}" target="_blank">
                            <i class="pe-2 bi bi-envelope-fill"></i>{{ .Site.Params.primEmail }}
                        </a>
                    </li>
                    {{ range .Params.links }}
                        <li>
                            <a href="{{ .link }}" target="_blank">
                                <i class="pe-2 bi bi-{{ .icon }}"></i>{{ .display }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
                <h2>Skills</h2>
                <ul class="double-spaced">
                    {{ range .Params.skills }}
                        <li>{{ . }}</li>
                    {{ end }}
                </ul>
                <h2>Education</h2>
                <h3>Ferris State University</h3>
                <span class="date mb-1">Graduated 2020</span>
                <span>Major: Music and Entertainment Business</span>
            </div>
        </div>
    </div>
{{ end }}
